{% extends 'layout.html' %}

{% block content %}
  <p>
    Just fill out this form to see some results.
  </p>
  <form method="get" role="form">
    <h4>Skills</h4>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="python"
         {% if request.args.python %}checked{% endif %}> Python
      </label>
      <label>
        <input type="checkbox" name="r"
         {% if request.args.r %}checked{% endif %}> R
      </label>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <h2>Instructors</h2>

  <p>Here are the instructors matching your search criteria.</p>

  <ul class="media-list">
    {% for person in people %}
      <li class="media">
        <img class="media-object pull-left" src="//gravatar.com/avatar/{{ person.email_hash() }}?d=mm" alt="gravatar for {{ person.email }}">
        <div class="media-body">
          {{ person.personal }} {{person.family}}<br>
          {% if person.facts.skills %}
          <small>Teaches {{ person.facts.skills }}</small>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
