<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}">
<style>
  body {
    /* 60px to make the container go all the way to the bottom of the topbar */
    padding-top: 60px;
  }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-responsive.css') }}">
<title>Software Carpentry Awsmgrep</title>
<div class="container">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="{{ url_for('home') }}">Software Carpentry Awsmgrep</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
  <p>TODO: Put something here.</p>

</div>
<script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.js') }}"></script>
