{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/typeaheadjs.css') }}">
{% endblock %}

{% block content %}
  <h1>Event Manager</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert {{category}}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="get" role="form" autocomplete="off">
    <div>Filter by:
      <label for="site">Site</label>
      <input type="text" class="form-control" id="site" name="site" value="{{ request.args.site }}" data-geo-finder="{{ url_for('sites_json') }}">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <table class='table table-striped'>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Start</th>
      <th>End</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
    <tr>
      <td>
        <a href={{ url_for('edit_event', id=event.id) }}>{{ event.id }}</a>
      </td>
      <td>{{ event.startdate }}</td>
      <td>{{ event.enddate }}</td>
      <td>
        {% if event.details_url %}
          <a href={{ event.details_url }} target='_blank'>{{ event.details_url }}</a>
        {% else %}
          (none)
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='vendor/typeahead.jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/geo-finder.js') }}"></script>
{% endblock %}
