{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block content %}
  <h1>Event Manager</h1>
  <table class='table table-striped'>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
    <tr>
      <td>
        <a href={{ url_for('edit_event', id=event.id) }}>{{ event.id }}</a>
      </td>
      <td>{{ event.startdate }}</td>
      <td>{{ event.enddate }}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}
